-e .

black
cloudpathlib[s3]>=0.4.1
flake8
geopandas
geopy
GitPython
jupyter
jupyterlab
loguru
matplotlib
nb_black
numpy
odc-stac
opencv-python
pandas
pandas_path
pathlib
planetary-computer
pydantic
pystac
pystac-client
pytest
pytest-cov
scikit-learn
seaborn
rioxarray
tqdm
typer