-e .

black
cloudpathlib[s3]>=0.4.1
flake8
geopandas
geopy
jupyter
lightgbm
loguru
matplotlib
numpy
odc-stac
pandas
pathlib
planetary-computer
pydantic
pystac
pystac-client
pytest
pytest-cov
scikit-learn
seaborn
rioxarray
tqdm
typer