-e .

black
cloudpathlib[s3]>=0.4.1
flake8
geopandas
geopy
GitPython
jupyter
loguru
matplotlib
numpy
odc-stac
opencv-python
pandas
pathlib
planetary-computer
pydantic
pystac
pystac-client
pytest
pytest-cov
scikit-learn
seaborn
rioxarray
tqdm
typer